@charset "UTF-8";
/* CSS Document */

@font-face { 
	font-family: Delicious; 
	src: url('Delicious-Roman.otf'); 
	
} 
@font-face { 
	font-family: Delicious; 
	font-weight: bold; 
	src: url('Delicious-Bold.otf'); 
	
}

body {
	font-family: Delicious, Verdana, Geneva, sans-serif;
	background-color:#fff;
}

h1 {
	text-align:center;
	text-shadow: 3px 3px 3px #CC9;
}

h3 {
	color: #963;
	text-shadow: 1px 1px 1px #CC9;
	text-align:center;
	border: 20px;
	border-radius: 4px 15px 12px 10px; 
	border-color:#CC9;
	background:#000;
	padding: 5px; 
	margin: 5px; 

	
}

li { 
	display: inline-block;
	background:#CC9; 
	padding: 5px;
	margin: 20px;
}

p {
	padding: 5px;
	margin: 20px; 
}
