@charset "UTF-8";
/* CSS Document */

@font-face {
	"Bitstream Vera Serif Bold";
      	src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
      	font-style: normal;
	font-weight: normal;
}
body {
	font-family:"Bitstream Vera Serif Bold", Verdana, Geneva, sans-serif;
	background-color:#CCC;
}

h1 {
	text-align:center;
	text-shadow: 3px 3px 3px #CC9;
}

h3 {
	color: #963;
	text-shadow: 1px 1px 1px #CC9;
	text-align:center;
	border: 20px;
	border-radius: 4px 15px 12px 10px; 
	border-color:#CC9;
	background:#000;
	padding: 5px; 
	margin: 5px; 

	
}

li { 
	display: inline-block;
	background:#CC9; 
	padding: 5px;
	margin: 20px;
}

p {
	padding: 5px;
	margin: 20px; 
}
